

*{
    box-sizing: border-box;

}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}

#global-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("https://picsum.photos/200/300/?blur=2");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    

    nav{
        ul{
            margin: 1rem 0;
            border: 1px solid #aaa7a7;
            padding: 1rem;
            li{
                list-style: none;
                
            }
        }
    }
}


#mainlogo{
    text-transform: uppercase;
}